<h3><i class="fas fa-book-reader"></i> StoryBooks</h3>
<div class="section">
    <p class="lead">Criando histórias públicas e privadas da sua vida.</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn blue darken-1">
        <i class="fab fa-google left"></i> Log In com Google
    </a>
</div>